section.min-h-96.flex.justify-center.items-center.flex-1.shrink-0.overflow-hidden.shadow-lg.rounded-lg.relative.py-16.md:py-20.xl:py-48
  = image_tag "top.jpg",alt: "トップ画像", class: "w-full h-full object-cover object-center absolute inset-0"
  .sm:max-w-xl.flex.flex-col.items-center.relative.p-4
    h2.text-green-700.text-lg.sm:text-xl.text-center.mb-4.md:mb-8
      | パワーストーン診断アプリ
    h1.text-blue-700.text-4xl.sm:text-5xl.md:text-6xl.font-bold.text-center.mb-8.md:mb-12
      | StoneMatching
    .w-full.flex.flex-col.sm:flex-row.sm:justify-center.gap-2.5
      = link_to "診断する", diagnoses_new_path, class: "inline-block bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3"