@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bootstrap';
@import 'top';

.flash-notifications {
    font-weight: bold;
    color: white;
    text-align: center;  
  
    .notice {
      background-color: #ADD8E6;
    }
  
    .alert {
      background-color: #FF4500;
    }
  
    }